<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<title>Computer Deatils</title>
<meta charset="utf-8">
<style>

</style>
</head>
<body>

<div class="container">    
    
  <table class="table table-bordered" >
 
    <tr th:each="computer : ${computers}">
          <img style="width:48%;margin:0px 300px;" th:src="@{'/files/'+${computer.image}}">
      </tr>
      <tr th:each="computer : ${computers}">
     <td>Marka</td>
          <td th:text="${computer.marka}"></td>
      </tr>
       <tr th:each="computer : ${computers}">
    <td>Model</td>
        <td th:text="${computer.model}"></td>  
      </tr>
      <tr th:each="computer : ${computers}">
       <td>Qiymet</td>
        <td th:text="${computer.price}"></td>  
      </tr>
      <tr th:each="computer : ${computers}">
       <td>Tesvir</td>
        <td th:text="${computer.description}"></td>  
      </tr>
         <tr th:each="computer : ${computers}">
       <td>Status</td>
        <td th:text="${computer.status}"></td>  
      </tr>
       <tr th:each="computer : ${computers}">
       <td>RAM</td>
        <td th:text="${computer.ram}"></td>  
      </tr>
      <tr th:each="computer : ${computers}">
       <td>CPU</td>
        <td th:text="${computer.cpu}"></td>  
      </tr>
        <tr th:each="computer : ${computers}">
       <td>ROM</td>
        <td th:text="${computer.rom}"></td>  
      </tr>  
      <tr th:each="computer : ${computers}">
       <td>Cd</td>
        <td th:text="${computer.cd}"></td>  
      </tr>
      <tr th:each="computer : ${computers}">
       <td>OperationSystem</td>
        <td th:text="${computer.operationsystem}"></td>  
      </tr>
        <tr th:each="computer : ${computers}">
       <td>VideoKard</td>
        <td th:text="${computer.videocard}"></td>  
      </tr>
  </table>
</div>

</body>
</html>