<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Alıcı</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
<link th:href="@{/style/customer.css}" rel="stylesheet" />
<style>
</style>
</head>
<body>
<br>
<a th:href="@{/}" id="home-button" class="btn btn-danger">Ana Səifə</a>
	 <br>
	<div id="main-content">
	<div class="row">
		
		<div class="computer-container" style="margin:0px 100px" th:each="computer : ${computers}">
		<div class="col-sm-4">
			<div class="computer">
			
			
			
				 <img style="width:180px;" th:src="@{'/files/'+${computer.image}}">
					<br>
				
				
				<span class="computer-brand" th:text="${computer.marka}"
					th:title="${computer.marka}"></span> 
					
					<br>
					
					<span class="computer-model"
					th:text="${computer.model}" 
					th:title="${computer.model}"></span>
                       
                       <br>

<span class="computer-price"
					th:text="${computer.price+' AZN'}"
					th:title="${computer.price}"
					></span>
					
					 
					<br>
					
				 
					
					
					
					
				<div class="details-btn-div">
					<a class="btn btn-primary"
						th:href="@{/computers/details/{id}(id=${computer.id})}"
						target="_blank">Ətraflı</a>
						<button class="btn btn-success">Sebete at</button>
				</div>
				</div>
				</div>
			</div>
		</div>


	</div>
	
</body>
</html>