<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title  th:text="${header}">Yeni Kitab</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
<style>#book-register-form{width:200px;margin:auto;}

</style>
</head>
<body>
<div th:replace="menu :: menu"></div>
<h1  th:text="${header}" style="text-align:center; color:green;">Yeni Kitab</h1>
<form th:action="@{/books/new-book-process}" method="POST" th:object="${book}" id="book-register-form">
<div class="form-group">

<input type="hidden"  th:field="*{id}"/>
</div>

<label for="book-name">Ad:</label>
<input class="form-control" id="book-name" th:field="*{name}"/>
</div>

<div class="form-group">
<label for="book-description">Tesvir:</label>
<textarea class="form-control" id="book-description" th:field="*{description}"></textarea>
</div>

<div class="form-group">
<label for="book-price">Qiymet:</label>
<input class="form-control" type="number" id="book-price" th:field="*{price}"/>
</div>

<div class="form-group">
<label for="book-author">Muellif:</label>
<input class="form-control" id="book-author" th:field="*{author}"/>
</div>

<div class="form-group">
<label for="book-page-count">Seifesayi:</label>
<input class="form-control" type="number" id="book-page-count" th:field="*{pageCount}"/>
</div>


<input class="btn btn-success" type="submit" value="yadda saxla">
<a th:href="@{/books}">Kitablarin siyahisi</a>
</form>

</body>
</html>

